<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>TrelloToTrac</title>
  </head>

  <body>
      <div id="ctxtnav" class="nav">
      </div>

    <div id="content">
            <h1>Trello</h1>
            <xi:include href="trello_menu.html" />
            <div id="tabcontent">
            <h2>Testing Trello</h2>
            <p><em>id:</em>${board_id}</p>
            <p><em>name:</em>${board_name}</p>

<!--            !<p>Lists:</p>
            <ul>
                <li py:for="l in lists">
                    <py:for each="k, v in l.iteritems()">
                    <span><em>${k}:</em>${v}</span><br/>
                    </py:for>
                </li>
            </ul>-->
            
            <p>Cards</p>
            <ul>
                <li py:for="c in cards">
                    ${c.id}
                    <ul>
                        <li><em>name:</em>${c.name}</li>
                        <li><em>wiki desc:</em>${c.desc}</li>
                        <li><em>comments:</em>
                            <ul>
                                <li py:for="com in c.comments">
                                    <py:for each="k, v in com.iteritems()">
                                    <span><em>${k}:</em>${v}</span><br/>
                                    </py:for>
                                </li>
                            </ul>
                        </li>
                        <li><em>checklists:</em>
                            <ul>
                                <li py:for="com in c.checklists">
                                    <py:for each="k, v in com.iteritems()">
                                        <span><em>${k}:</em>${v}</span><br/>
                                        <!-- !<py:if k="checkItems">
                                            <b>ITEMS</b>
                                            </py:if> -->
                                    </py:for>
                                </li>
                            </ul>
                        </li>
                        <li><em>attachments:</em>
                            <ul>
                                <li py:for="a in c.attachments">
                                    <py:for each="k, v in a.iteritems()">
                                    <span><em>${k}:</em>${v}</span><br/>
                                    </py:for>
                                </li>
                            </ul>
                        </li>
                     </ul>
                </li>
            </ul>
            
            <hr/>
            <hr/> 
            <p>CardsDebug</p>
            <ul>
                <li py:for="c in cardsDebug">
                    <py:for each="k, v in c.iteritems()">
                    <span><em>${k}:</em><pre>${v}</pre></span><br/>
                    </py:for>
                </li>
            </ul>
            </div>
    </div>
  </body>
</html>
