<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>TrelloToTrac</title>
  </head>

  <body>
      <div id="ctxtnav" class="nav">
      </div>

     <div id="content">
       <h1>Trello</h1>
       <xi:include href="trello_menu.html" />
       <div id="tabcontent">
         <h2>Trello To Trac</h2>
         <p><em>id:</em>${board_id}</p>
         <p><em>name:</em>${board_name}</p>

       </div>

    </div>
  </body>
</html>
